In [22]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import pandas as pd

In [23]:
import pandas as pd
df = pd.read_csv('ratings_small.csv')
df = df.loc[:, df.columns != 'timestamp']
df.head(10)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0
5       1     1263     2.0
6       1     1287     2.0
7       1     1293     2.0
8       1     1339     3.5
9       1     1343     2.0

vamos pegar o maior userId para saber a altura da matriz, e o maior movieId para a largura

In [24]:
# criar matriz
ratings = np.zeros((int(df.max()[0]), int(df.max()[1])))

# linhas: usuario
# colunas: filme

for i in range(len(df)):
    user = int(df.loc[i, 'userId'])-1
    movie = int(df.loc[i, 'movieId'])-1
    rating = df.loc[i, 'rating']
    ratings[user, movie] = rating